body {
    font-family: Arial, sans-serif;
}

.main {
    background-color: #0F172A;
}

.block-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-title {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.hero-subtitle {
    color: #CBD5E1;
    font-size: 20px;
}

.glass-card {
    background: rgba(255,255,255,0.08);
    border-radius:15px;
    padding:25px;
    border:1px solid rgba(255,255,255,0.15);
    margin-top:15px;
}